<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <a href = "/rango/about/">About</a><br />
            <img src = "{% static 'images/2000_Rango_Stare.jpeg' %}"
                 alt = "Picture of Rango after war" /> <!-- New Line -->
        </div>

    </body>

</html>